{% load static %} 
<html lang="en"> 
<head> 
    <link rel="stylesheet" href="{% static 'css/login.css' %}"> 
    <title>Регистрация в лучшем кликере</title> 
</head> 
<body>
    <div class="contanier">
    <h1>Регистрация</h1>
    {% if form.errors %} 
        <p>{{form.errors}}</p> 
    {% endif %} 
    <form action="{% url 'register' %}" method='POST'> 
        {% csrf_token %} 
        {{ form.as_p }} 
        {% if invalid %} 
            <p>Ошибка! Введены не правильные данные. Возможно такой логин существует!</p> 
        {% endif %} 
        <input class="submit" type="submit" value="Регистрироваться"> 
    </form> 
    <a href="{% url 'login' %}">Зарегистрирован?</a>
    </div>
</body> 
</html>