div{
    font-size: 60px;
    font-weight: bold;
    color: #121561;    
}

button{
    background-color: #121561;
    color:white;
    font-weight: bold;
    font-size: 50px;
    border-radius: 20%;
}

.container{
    padding-top:20px;
    text-align: center;
    display:block;
    width: 40%;
    float:left;

    padding-bottom: 0px;
}

.nav{
    background-color: orange;
    height: auto;
    vertical-align: middle;
    padding: 5px;
    color:#121561;
    font-size:20px;
    margin: 0px;
}

.click_power{
    font-size: 30px;
    font-weight: bold;
    color:#121561;
}

nav a{
    color:#121561;
    float:right;
    padding-right:5px;
}

body{
    margin: 0px;
}

.boosts{
    display:inline-block;   
    text-align: center;
    float:right;
    width: 60%;
    margin-bottom: 0px;
}

.boosts-holder{
    margin: 0px;
    padding: 0px;
}

.lvl{
    position: relative;    
    display: block;
    width:20%;
    top:-20px;
    font-size: 30px;
}

.power{
    position: relative;
    display: block;
    width: 15%;
    float:left;    
    top:-160px;
    left:10px;
    font-size: 20px;
    border-radius: 30%;
    height: 25%;
    padding-top: 5px;

    background-color: rgb(156, 20, 20);
}

.price{
    position: relative;
    display: block;
    width: 20%;
    float:right;
    color: orange;
    top:-230px;
}

.boost_1 .price{
    color:#121561;
}

.name{
    position: relative;
    text-align: left;
    display: block;
    width: 50%;
    font-size: 30px;

    top:-85px;
    left:200px;
}

.describtion{
    position: relative;
    text-align: left;
    display: block;
    width: 80%;
    font-size: 25px;

    top:-85px;
    left:150px;
}

.boost_1{
    background-color: rgb(235, 173, 38);    
    border: 2px solid rgb(136, 92, 10);
}

.boostik{    
    margin:10px 0;
    display: block;
    padding: 0px;
    float:right;
    width: 100%;
    height: 15%;
}

button:hover{
    background-color: #1f2396;
}

button:active{
    background-color: #4c50c4;
}

.boost_1:hover{
    background-color: rgb(255, 150, 51);
}

.boost_1:active{
    background-color: rgb(211, 168, 89);
}

.container{
    height: 35%;
}

aside{
    height: 100%;

    margin-bottom: 0px;
    padding-bottom: 0px;
    overflow: hidden;
}

.achives{
    float:left;
    display: block;
    width: 40%;
    height: 60%;    

    padding-bottom:5px;
    margin-top:0px;
}


.achive{
    width: 90%;
    height: 20%;
    margin: 20px;
    
    display: block;
}

.icon{
    width: 20%;
    height: 100%;
    border-radius: 100%;
    background-color: rgb(250, 253, 59);
    display: inline-block;
    border: 1px dashed rgb(214, 151, 33);
}
.disc{
    width: 70%;
    height: 100%;
    display: inline-block;
    position: relative;
    bottom:37%;

    visibility: hidden;
    font-size: 30px;

    vertical-align: middle;
    text-align: center;
    background-color: rgb(226, 221, 154);
    border-radius: 30%;
}

.icon:hover+.disc{
    visibility: visible;
}
.power_click1{
    font-size: 30px;
    
    background-color: #121561;
    color: white;
    width: 50%;
    margin: 0 auto;
    text-align: center;

    border-radius: 30%;
}
