div{
    font-size: 60px;
    font-weight: bold;
    color: #121561;    
}

button{
    background-color: #121561;
    color:white;
    font-weight: bold;
    font-size: 50px;
    border-radius: 20%;
}

.container{
    padding-top:20px;
    text-align: center;
    display:block;
    width: 35%;

    /*background: red;*/
}

.nav{
    background-color: orange;
    height: auto;
    vertical-align: middle;
    padding: 5px;
    color:#121561;
    font-size:20px;
    margin: 0px;
}

.click_power{
    font-size: 30px;
    font-weight: bold;
}

nav a{
    color:#121561;
    float:right;
    padding-right:5px;
}

body{
    margin: 0px;
}

.boosts{
    
    display:flex;   

    float:right;
}

.boosts-holder{
    margin: 0px;
    padding: 0px;
}

.boost{
    margin:0px;
    display: block;
    padding: 0px;
    float:right;
    width: 400px;
    height: 70%;
}

.boost{
}

.lvl{
    margin-top: 10px;
    margin-left:10px;
    display: inline-block;
    float: left;
}

.power{
display: inline-block;

position: relative;
top:-30px;
float:left;
left:10%;
}

.price{
display: inline-block;

position: relative;
top:-30px;
float:right;
color:orange;
margin-right: 10%;
}

.name{
    top:5px;
    font-size: 20px;    
    position: relative;
    right:5px;
    display: inline-block;
}

.describtion{
    top:-10px;
    right:5px;
    font-size: 20px;
    position: relative;
    display: inline-block;
}
